@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --green: #425B4A;
    --gray: #CCCCCC;
    --gray-100: #757575;
    --blue-100:#04BF8A;
    --blue-200: #026873;
    --yellow: #FED250;
    --white: #F7F5ED;
    --blue: #0C615F;
    --yellow-100:#E7C030;
}

body {
    background-color: var(--gray-100);
    height: 100vh auto;
    color: var(--white);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;    
    /*  */
}