@import url("./global.css");

nav {
    background-color: var(--blue);
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    /* grid-template-rows: repeat(1, 2fr); */
    align-items: center;
    font-size: 30px;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    justify-content: center; 
    gap: 50px;
}

.navlink {
    color: var(--white);
    margin: 20px;
    text-decoration: underline;
}

.logo {
    color: var(--white);
    font-size: 35px;
    margin-left: 10px;
}
.plogo {
    color:var(--white);
    font-size: 15px;
    margin-left: 10px;
}
.navlink:hover {
    color: var(--yellow-100);
    transition: 0.5s;
    padding: 10px;
}

header {
    height: 1000px;
    width: 100%;
    background-image: url(images/softwork2.jpeg);
    box-shadow: 1000px 1000px 10px 10px rgb(0, 0, 0, 0.100) inset; 
    background-position: center center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* margin-bottom: 30px; */
}

main {
    height: auto;
    background-color: var(--white);
    margin: 15px;
    box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.8);
    padding: 15px;
}

article {
    display: flex;
} 
aside {
    /* display: flex; */
    margin: 35px;
} 
.pmain {
    letter-spacing: 1.8px;
    /* width: 400px auto; */
    margin: 10px;
    color: black;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif; 
}
.main-img {
    width: 400px;
}

.maintitulo {
    color: var(--blue);
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* footer */

.container {
    margin: 0 auto;
    padding: 24px;
    text-align: center;
    
}
.authors {
    margin-top: 20px;
}
footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--green);
}
.footer-link {
    font-weight: bold;
    color: var(--blue-300);
    text-transform: uppercase;
    margin: 0 14px;
    letter-spacing: 2px;
}

.footer-img {
    width: 30px;
    margin-right: 10px;
}

.p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.p2 {
    margin-top: 20px;
}

.footer-link:hover {
    color: var(--white);
}

.footer-social {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 20px;
    
}

.main-list {
    display:inline-block;
    justify-content: center;
    gap: 20px;
}

.sectitulo{
    color: var(--blue-300);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-list {
    width: 200px;
}

.img-container {
    display: flex;
    justify-content: center;
}