@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --green: #425B4A;
    --gray: #CCCCCC;
    --gray-100: #757575;
    --blue-100:#04BF8A;
    --blue-200: #026873;
    --yellow: #FED250;
    --white: #F7F5ED;
    --blue: #0C615F;
    --yellow-100:#E7C030;
}

body {
    background-color: var(--gray);
    height: 100vh auto;
    color: var(--white);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;    
    /*  */
}

nav {
    background-color: var(--green);
    height: 100px;
    align-content: center;
    font-size: 30px;
    position: fixed;
    width: 100%; 
    
}


ul{
    display: flex;
    justify-content: center; 
    gap: 50px;
}

a {
    color: var(--white);
}

header {
    height: 1000px;
    width: 100%;
    background-image: url(./images/header-background.jpeg);
    box-shadow: 1000px 1000px 10px 10px rgb(0, 0, 0, 0.300) inset;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-bottom: 30px; */
}

/* .header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

main {
    background-color: var(--white);
    margin: 15px 15px 15px 15px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.555);
}

#maintitulo {
    color: var(--blue);
}

footer {
    background-color: var(--blue);
    font-size: 25px;
}

.authors {
    color: var(--gray-100);
    font-size: 15px;
    font-family: 'Poppins';
}

.contact {
    width: 30px;
}