@import url('./global.css');
nav {
    background-color: var(--green);
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 20px;
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    font-size: 30px;
    position: fixed;
    width: 100%; 
    
}

ul{
    display: flex;
    justify-content: center; 
    gap: 50px;
}

.navlink {
    color: var(--blue-100);
    margin: 20px;
}
.navlink:hover {
    color: var(--yellow-100);
    transition: 0.5s;
    padding: 10px;
}
